body{
    margin: 0;
    padding: 0;

}
/* header start */
header{
    background-color: #121B2A;
}

.wrapper{
    margin: 0 auto;
    width:90%;
    overflow: hidden;
}

.logo{
    width:12%;
    float: left;

}

.logo img{
    margin-top: 4px;
    width: 100%;
}

.menu_bar{
    width: 60%;
    float: right;
}

.menu_bar ul{
    float: right;
}

.menu_bar ul li{
    float: left;
    list-style: none;
}

.menu_bar ul li a{
    padding: 10px 20px;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
    
}

.menu_bar ul li a:hover{
    color: #026FAE;
}
.active{
    color:red
}

.menu_bar ul li:last-child a{
    padding-right: 0;
}

/* header end */



/* banner start */

.banner{
    /* background-image: url(images/background\ image.jpg); */
    background-image: url(images/backgroundimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.banner_content{
    margin-top: 300px ;
    margin-bottom: 250px;
    width: 38%;
}

.banner_content p:first-child{
    margin: 0px;
    font-size: 30px;
    color:whitesmoke;
}

.banner_content h1{
    margin: 0px;
    font-size: 38px;
    color: #00a2ff;
    
    
}

.banner_content p:nth-last-child(2){
    font-size: 18px;
    color: whitesmoke;
   
}

.banner_content button{
    padding: 10px 20px;
    margin-top: 8px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}


/* .banner_content button span{
    
} */




/* banner end */


/* service start */

.service{
    background-color: #121B2A;
    padding: 50px 0;

}

.single{
    width: 30%;
    float: left;
    margin-right: 54px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
}

.title{
    width: 100%;
    overflow: hidden;
}

.icons{
    width: 20%;
    float: left;
}

.icons img{
    width: 100%;
}

.icons_content{
    width: 60%;
    float: right;
}

.icons_content h1{
    margin: 0;
    margin-top: 4px;
    font-size: 30px;
    color:whitesmoke;

}

.icons_content h2{
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: #00a2ff;
}

.service .wrapper .single:last-child{
    margin-right: 0;
}

.service_content p{
    font-size: 17px;
    color: whitesmoke;
    text-align: justify;
    line-height: 1.5;

}

/* service end */


/*  */

.main{
   padding: 50px 0;
   background-color: #040811;
}

.containers{
    overflow: hidden;
}

.all_content{
    width: 28%;
    float: left;
    margin-right: 87px;

}

.background_design{
    background-color: #0C1019;
    padding: 0px 10px;
    border-radius: 5px;
}
.main .wrapper .containers .all_content:last-child{
    margin-right: 0;
}

.mobile_img{
    float: left;
    width: 25%;
    padding-left: 50px;
    padding-top:13px


}
.mobile_img img{
    width: 100%;
}
.mobile_content{
    float: right;
    width: 50%;
}

.containers .all_content h3{
    font-size: 23px;
    color:whitesmoke;
}

.containers .all_content span{
    font-size: 23px;
    color: #00a2ff;
}

.containers .all_content p,address{
    color: whitesmoke;
    line-height: 25px;
   
}

.btn_des{
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
   
}

.btn_des h2{
    margin: 0;
    padding: 0;
}



/* footer */

footer{
    background-color:#121B2A ;
    padding: 10px 0;
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
    
}